spring:
  application:
    name: server
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://mariadb:3306/krampoline
    username: root
    password: root
  config:
    name: dev

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true

server:
  ssl:
    key-store: classpath:keystore.p12
    key-store-password: rootroot
    key-store-type: PKCS12
    key-alias: myalias
  port: 443