spring:
  application:
    name: server
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:mariadb://localhost:3306/halmang?characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: sa
  profiles:
    default: local

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
server:
  port: 8081